:root {
  /* part monokai part vscode defaults */
  --background: #1e1e1e;
  --menubackground: #252526;
  --headerbackground: #3c3c3c;
  --graytext: #8c8c8c;
  --foreground: #D4D4D4;
  --comment: #6A9955;
  --seagreen: #0BB052;
  --green: #A6E22E;
  --lightorange: #E69F66;
  --orange: #FD971F;
  --red: #F92672;
  --magenta: #B00B69;
  --purple: #c586c0;
  --lightblue: #9cdcfe;
  --blue: #569CD6;
  --teal: #4EC9AE;
  --string: #CE9178;
  --yellow: #ffb517;
  --brightyellow: #e5e510;

}

.App {
  text-align: center;
  font-family: Consolas, monospace;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.comment {
  color: var(--comment);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-Body {
  background-color: var(--background);
  /* position: absolute; */
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--foreground);
  top: 0;
}

.Snippet {
  background-color: var(--background);
  color: var(--foreground);
  height: 100%;
  width: 100%;
}

.SectionSubtitle {
  color: var(--string);
}

.SectionBody {
  padding-left: 10%;
  text-align: left;
  width: 80%;
  font-size: large;
}

.App-link {
  color: var(--blue);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: auto;

  color: var(--foreground);

  padding: 0.7rem 2rem;

}

#YoutubeDemo {
  width: 720px;
  height: 430px;
}